.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

ion-item {
    font-size: 12px;
}

.imagen {
    float: right;
}

.sendImg {
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #070e41;
}

ion-textarea {
    font-size: 10px;
}

ion-button {
    margin-top: 1rem;
}